.container 
  .row 
    #css-types.col-12 
      h2.fw-bold.text-center.text-uppercase.my-5 Виды каскадных таблиц стилей и их специфика
    .col-12 
      h3.fw-bold Виды таблиц стилей
    .col-12.ms-3.mt-3
      h4.fw-bolder Внешняя таблица стилей
      p Внешняя таблица стилей представляет собой текстовый файл с расширением .css, в котором находится набор CSS-стилей элементов. Файл создаётся в редакторе кода, так же как и HTML-страница. Внутри файла могут содержатся только стили, без HTML-разметки. Внешняя таблица стилей подключается к веб-странице с помощью элемента < link >, расположенного внутри раздела < head > < / >. Такие стили работают для всех страниц сайта.
      p К каждой веб-странице можно присоединить несколько таблиц стилей, добавляя последовательно несколько элементов < link >, указав в атрибуте media назначение данной таблицы стилей. rel="stylesheet" указывает тип ссылки (ссылка на таблицу стилей).
      .col-12.d-flex.justify-content-center
        img.img-fluid(src="assets/img/dest/1.jpg", alt="css-1")
    .col-12.ms-3.mt-3
      h4.fw-bolder Внутренние стили
      p Внутренние стили встраиваются в раздел < head > < / > HTML-документа и определяются внутри элемента < style > < / >. Внутренние стили имеют приоритет над внешними, но уступают встроенным стилям (заданным через атрибут style).
      .col-12.d-flex.justify-content-center
        img.img-fluid(src="assets/img/dest/2.jpg", alt="css-2")
    .col-12.ms-3.mt-3
      h4.fw-bolder Встроенные стили
      p Когда мы пишем встроенные стили, мы пишем CSS-код в HTML-файл, непосредственно внутри элемента с помощью атрибута style:
      .col-12.d-flex.justify-content-center
        img.img-fluid(src="assets/img/dest/3.jpg", alt="css-3")
      p Такие стили действуют только на тот элемент, для которого они заданы.
    .col-12.ms-3.mt-3
      h4.fw-bolder Правило @import
      p Правило @import позволяет загружать внешние таблицы стилей. Чтобы директива @import работала, она должна располагаться в таблице стилей (внешней или внутренней) перед всеми остальными правилами:
      .col-12.d-flex.justify-content-center
        img.img-fluid(src="assets/img/dest/4.jpg", alt="css-4")
