.container 
  .row
    #introduction.col-12 
      h1.fw-bold.text-center.text-uppercase.my-5 Введение
      .row 
        .col-lg-4.col-md-5.col-sm-12
          img.img-fluid.css-meme(src="assets/img/dest/fb_image-5.gif", alt="css-meme")
        .col-lg-8.col-md-7.col-sm-12.mt-4
          p 
            a.link(href="https://ru.wikipedia.org/wiki/CSS#firstHeading" target="blank") CSS (Cascading Style Sheets)
            |  — язык таблиц стилей, который позволяет прикреплять стиль (например, шрифты и цвет) к структурированным документам (например, документам HTML и приложениям XML).
          p Обычно CSS-стили используются для создания и изменения стиля элементов веб-страниц и пользовательских интерфейсов, написанных на языках HTML и XHTML, но также могут быть применены к любому виду XML-документа, в том числе XML, SVG и XUL.
      .col-12.mt-4
        p Объявление стиля состоит из двух частей: селектора и объявления. В HTML имена элементов нечувствительны к регистру, поэтому «h1» работает так же, как и «H1». Объявление состоит из двух частей: имя свойства (например, color) и значение свойства (grey). Селектор сообщает браузеру, какой именно элемент форматировать, а в блоке объявления (код в фигурных скобках) перечисляются форматирующие команды — свойства и их значения.
        .img-wrap.d-flex.justify-content-center
          img.img-fluid(src="assets/img/dest/css_osnovy.png", alt="osnovy")