.container 
  .row 
    #history.col-12
      h2.fw-bold.text-center.text-uppercase.my-5 История создания и развития CSS
    .col-3
      img.img-fluid(src="assets/img/dest/css-osnovy.png", alt="css")
    .col-9
      p CSS — одна из широкого спектра технологий, одобренных консорциумом W3C и получивших общее название «стандарты Web». В 1990-х годах стала ясна необходимость стандартизировать Web, создать какие-то единые правила, по которым программисты и веб-дизайнеры проектировали бы сайты. Так появились языки HTML 4.01 и XHTML, и стандарт CSS. 
      p Термин «каскадные таблицы стилей» был предложен Хоконом Ли в 1994 году. Совместно с Бертом Босом он стал развивать CSS.
      p В отличие от многих существовавших на тот момент языков стиля, CSS использует наследование от родителя к потомку, поэтому разработчик может определить разные стили, основываясь на уже определённых ранее стилях.
      p В середине 1990-х Консорциум Всемирной паутины (W3C) стал проявлять интерес к CSS, и в декабре 1996 года была издана рекомендация CSS1. 
    .col-12
      h3.fw-bold.mt-5 Уровень 1 (CSS1)
      p Рекомендация W3C, принята 17 декабря 1996 года, откорректирована 11 января 1999 года. Среди возможностей, предоставляемых этой рекомендацией: 
      ul 
        li Параметры шрифтов. Возможности по заданию гарнитуры и размера шрифта, а также его стиля — обычного, курсивного или полужирного.
        li Цвета. Спецификация позволяет определять цвета текста, фона, рамок и других элементов страницы.
        li Атрибуты текста. Возможность задавать межсимвольный интервал, расстояние между словами и высоту строки (то есть межстрочные отступы)
        li Выравнивание для текста, изображений, таблиц и других элементов.
        li Свойства блоков, такие как высота, ширина, внутренние (padding) и внешние (margin) отступы и рамки. Также в спецификацию входили ограниченные средства по позиционированию элементов, такие как float и clear.
    .col-12 
      h3.fw-bold.mt-5 Уровень 2 (CSS2)
      p Рекомендация W3C, принята 12 мая 1998 года. Основана на CSS1 с сохранением обратной совместимости за несколькими исключениями. Добавление к функциональности: 
      ul 
        li Блочная вёрстка. Появились относительное, абсолютное и фиксированное позиционирование. Позволяет управлять размещением элементов по странице без табличной вёрстки.
        li Типы носителей. Позволяет устанавливать разные стили для разных носителей (например монитор, принтер, КПК).
        li Звуковые таблицы стилей. Определяет голос, громкость и т. д. для звуковых носителей (например для слепых посетителей сайта).
        li Страничные носители. Позволяет, например, установить разные стили для элементов на чётных и нечётных страницах при печати.
        li Расширенный механизм селекторов.
        li Указатели.
        li Генерируемое содержимое. Позволяет добавлять содержимое, которого нет в исходном документе, до или после нужного элемента.
    .col-12 
      h3.fw-bold.mt-5 Уровень 3 (CSS3)
      .row
        .col-md-6.col-sm-12.my-3
          p CSS3 (англ. Cascading Style Sheets 3 — каскадные таблицы стилей третьего поколения) — активно разрабатываемая спецификация CSS. Представляет собой формальный язык, реализованный с помощью языка разметки. Самая масштабная редакция по сравнению с CSS1, CSS2 и CSS2.1. Главной особенностью CSS3 является возможность создавать анимированные элементы без использования JS, поддержка линейных и радиальных градиентов, теней, сглаживания и прочее. 
          p В отличие от предыдущих версий спецификация разбита на модули, разработка и развитие которых идёт независимо. CSS3 основан на CSS2.1, дополняет существующие свойства и значения и добавляет новые. 
        .col-md-6.col-sm-12.d-flex.justify-content-center
          img.img-fluid.css3-scheme(src="assets/img/dest/css3.png", alt="css3.png")