.container 
  .row 
    .col-12 
      h2.fw-bold.text-center Получение даты
    .col-12.d-flex.justify-content-center.mt-4
      .get-data-wrap.d-flex.flex-column
        input#date.date-input(type="date", name="getDate")
        button.date-btn.mt-4(onclick="getDayInfo()") Получить дату